@use 'colors';
@use 'gerillass';

.footer {
  background-color: hsl(226, 83%, 14%);
  font-weight: 300;
  padding-top: 2rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

@include gerillass.breakpoint(min, medium) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@include gerillass.breakpoint(min, large) {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.copyright {
  background-color: #050f30;
  font-size: 0.9rem;
}
h6 {
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 2rem;
}

a {
  font-size: 0.9rem;
  color: colors.$neutral-300;

  &:hover {
    color: colors.$accent-200;
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  li {
    padding-bottom: 1rem;
    list-style: none;
  }
}

.contact {
  i {
    font-size: 1.2rem !important;
  }
}
.app-name {
  font-size: 1rem;
  margin-top: 1rem;
}

.logo {
  border-radius: 2rem;
  width: 5rem;
  height: 5rem;
  img {
    width: 4rem;
    height: auto;
  }
}

.download-buttons {
  img {
    width: 9rem;
    height: auto;
    padding-bottom: 1rem;
  }
  padding-bottom: 1rem;
}
.social {
  ul {
    display: flex;
    align-items: center;
    padding: 0 !important;
    list-style: none;
    gap: 1.5rem;

    a {
      text-decoration: none;
    }

    i {
      font-size: 2rem;
      transition: all ease-in-out 0.5s;
      transform: scale(1);
    }

    a:hover {
      i {
        transition: all ease-in-out 0.1s;
        color: colors.$accent-200;
        font-size: 2.5rem;
      }
    }
  }
}
