<form class="d-flex flex-column gap-3" [formGroup]="audioHymnForm" *transloco="let t" (ngSubmit)="onSubmit()">

  <span class="title">{{t(languageResourceKey.UPLOAD_AUDIO_HYMN)}}
  </span>

  <div class="hymn-number">
    <input type="number" formControlName="no" class="form-control" [class.is-invalid]="hymnNoIsInvalid()"
      [placeholder]="t(dashboardLanguageResourceKey.HYMN_NO)">
    @if (hymnNoIsInvalid()) {
    <div class="invalid-feedback">
      {{t(dashboardLanguageResourceKey.VALID_HYMN_NO_MSG)}}
    </div>
    }
  </div>

  <div class="mb-2">
    <input class="form-control w-100" formControlName="fileName" (change)="onFileChange($event)" type="file"
      [multiple]="false" [max]="1" [accept]="'audio/mpeg'"
      [class.is-invalid]="audioHymnIsInvalid() || uploadSizeExceeded()">
    @if (audioHymnIsInvalid()) {
    <div class="invalid-feedback">
      {{t(languageResourceKey.AUDIO_HYMN_REQUIRED_MSG)}}
    </div>
    }
    @if (uploadSizeExceeded()) {
    <div class="invalid-feedback">
      {{t(dashboardLanguageResourceKey.UPLOAD_FILE_SIZE_EXCEEDED_MSG,{value:
      dashboardLanguageResourceKey.AUDIO_UPLOAD_SIZE}
      )}}
    </div>
    }

  </div>

  <div class="text-end">
    <button class="w-100" ng-mat-raised-button type="submit">
      {{t(dashboardLanguageResourceKey.UPLOAD)}}
    </button>
  </div>

</form>