.features {
  margin-bottom: 1rem !important  ;
  img {
    width: 5rem;
  }

  .feature-item {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  .language-item {
    padding-bottom: 1rem;
  }
}
