<section class="features section bg-neutral-50">
  <div class="container">
    <header>
      <h3 class="text-center">Why Choose The Official CCC Hymns?</h3>
    </header>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 d-flex gap-4 feature-item align-items-center">
        <img src="assets/images/features/hymns.svg" alt="Bible references">
        <div>
          <h5>Hymns</h5>
          <span>Access a vast library of hymns for your spiritual journey.</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 d-flex gap-4 feature-item align-items-center">
        <img src="assets/images/features/bible.svg" alt="Bible references">
        <div>
          <h5>Bible References</h5>
          <span>Dive deeper into the Word with relevant verses for each hymn.</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 d-flex gap-4 feature-item align-items-center">
        <img src="assets/images/features/tonic-solfa.svg" alt="Bible references">
        <div>
          <h5>Tonic Sol-Fa</h5>
          <span>Learn, follow, and sing along with clear notation.</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 d-flex gap-4 feature-item align-items-center">
        <img src="assets/images/features/audio.svg" alt="Bible references">
        <div>
          <h5>Audio Hymns</h5>
          <span>Listen to the soothing voices that lift your spirits.</span>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 d-flex gap-4 feature-item language-item align-items-center">
        <img src="assets/images/features/languages.svg" alt="Bible references">
        <div>
          <h5>Language is no barrier</h5>
          <span>We're here for you in both English and French. Choose your preferred language and let the power of
            worship transcend
            borders.</span>
        </div>
      </div>
    </div>
  </div>
</section>
