<table *transloco="let t" class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let name of columnNames" class="user-select-none" scope="col">{{t(name)}}</th>
    </tr>
  </thead>
  <tbody>

    @for (placeholder of placeholders; track placeholder; let i = $index) {
    <tr class="placeholder-wave opacity-75">
      <th scope="row"> <span>{{i+1}}</span></th>
      <td>
        <span class="placeholder circle-small">
        </span>
        <span class="placeholder circle-small mx-1">
        </span>
        <span class="placeholder circle-small">
        </span>
      </td>
      <td>
        <span class="placeholder circle-small">
        </span>
        <span class="placeholder circle-small mx-1">
        </span>
        <span class="placeholder circle-small">
        </span>
      </td>
      <td>
        <span class="placeholder circle-small">
        </span>
        <span class="placeholder circle-small mx-1">
        </span>
        <span class="placeholder circle-small">
        </span>
      </td>

      <td>
        <span class="placeholder circle-small">
        </span>
        <span class="placeholder circle-small mx-1">
        </span>
        <span class="placeholder circle-small">
        </span>
      </td>
      
      <td>
        <span class="placeholder pill">
        </span>
      </td>
      <td>
        <span class="placeholder circle-small">
        </span>
      </td>
    </tr>
    }

  </tbody>
</table>
