@use 'gerillass';
@use './variables/colors';
@use 'variables/size';

html {
  font-size: 85%;
  @include gerillass.breakpoint(min, size.$medium) {
    font-size: 95%;
  }
  @include gerillass.breakpoint(min, large) {
    font-size: 100%;
  }
  @include gerillass.breakpoint(min, xlarge) {
    font-size: 105%;
  }
  @include gerillass.breakpoint(min, size.$xxLarge) {
    font-size: 140%;
  }
}

body {
  scroll-behavior: smooth;
  color: colors.$text-light;
}
