@forward './vendor/halfmoon';
@forward './font';
@forward './transitions/scale';
@forward './utils/custom-scrollbar';
@forward './utils/colors';
@forward './controls/switch';

a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
