@font-face {
  font-family: 'ccc-icon';
  src: url('../assets/fonts/ccc-icon.ttf?3hm0pu') format('truetype'),
    url('../assets/fonts/ccc-icon.woff?3hm0pu') format('woff'),
    url('../assets/fonts/ccc-icon.svg?3hm0pu#ccc-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ccci-'],
[class*=' ccci-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ccc-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ccci-close:before {
  content: "\e900";
}
.ccci-email-fill:before {
  content: "\e901";
}
.ccci-facebook:before {
  content: "\e902";
}
.ccci-instagram:before {
  content: "\e903";
}
.ccci-phone-fill:before {
  content: "\e904";
}
.ccci-star-fill:before {
  content: "\e905";
}
.ccci-star-half:before {
  content: "\e906";
}
.ccci-star-outline:before {
  content: "\e907";
}
.ccci-x-circle-outline:before {
  content: "\e908";
}
.ccci-youtube:before {
  content: "\e909";
}
