:root {
  --primary-font: 'Kantumruy Pro', sans-serif;
}
body {
  font-family: var(--primary-font) !important;
}
html {
  --mdc-typography-font-family: var(--primary-font) !important;
  --mdc-typography-button-text-transform: none;
}
