@forward 'global';
@forward './scss/font';
@forward './scss/font-icon';
@forward './scss/variables/vendor/taiga-ui';
@use 'material/ccchymns';
@use 'gerillass';

.logo,
.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.login,
.verify-email {
  width: 20rem;
  .title {
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.circle {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: inline-block;
}

:root {
  --bs-sidebar-width: 18rem;
  --bs-padding-sbwidth: 18rem;
}
.sidebar {
  width: 18rem !important;
  background-color: #01579b !important;
}

@include gerillass.breakpoint(min, medium) {
  :root {
    --bs-sidebar-width: 15rem;
    --bs-padding-sbwidth: 15rem;
  }
  .sidebar {
    width: 15rem !important;
  }
}
.list-group-item {
  font-size: 0.9rem;
}
