<table *transloco="let t" class="table table-striped" cdk-table recycleRows [dataSource]="data">

  <ng-container [cdkColumnDef]="columnNames[0]">
    <th cdk-header-cell *cdkHeaderCellDef scope="col">{{t(columnNames[0])}}</th>
    <td cdk-cell *cdkCellDef="let row">{{row[columnNames[0]]}}</td>
  </ng-container>

  <ng-container [cdkColumnDef]="columnNames[1]">
    <th cdk-header-cell *cdkHeaderCellDef scope="col">{{t(columnNames[1])}}</th>
    <td cdk-cell *cdkCellDef="let row">{{row[columnNames[1]]}}</td>
  </ng-container>

  <ng-container [cdkColumnDef]="columnNames[2]">
    <th cdk-header-cell *cdkHeaderCellDef scope="col">{{t(columnNames[2])}}</th>
    <td cdk-cell *cdkCellDef="let row">{{row[columnNames[2]]}}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="columnNames"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columnNames; trackBy: trackByFn"></tr>

</table>
