<div class="root" *transloco="let t">

  <div class="card-body">
    <div class="card vh-100 rounded-0 bg-body overflow-hidden ps-md-sbwidth">

      <!--!Content -->
      <div class="d-flex flex-column w-100 h-100 position-relative bg-light">

        <!-- !Mobile Header-->
        <nav class="navbar p-0 sticky-top"
          style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color); min-height: 2.9rem;">
          <div class="container-md px-3 px-sm-4 px-xl-5 py-1 justify-content-start">
            <button ng-mat-icon-button class="d-md-none" type="button" (click)="toggleSideBar()"
              data-bs-toggle="offcanvas" data-bs-target="#sidebar-example">
              <i [ccc-icon]="'menu'"></i>
            </button>
          </div>
        </nav>


        <div class="container d-flex align-items-center justify-content-center flex-grow-1">
          <div class="specific-w-100 m-2 rounded">
            <p class="mb-2">Dashboard works</p>
          </div>
        </div>

      </div>
      <!--!End Content -->

      <!-- !Side nav -->
      <nav class="sidebar text-light vh-100 offcanvas-start offcanvas-md position-absolute" [class.show]="openSideBar"
        tabindex="-1" id="sidebar-example" data-bs-scroll="true" [attr.aria-modal]="openSideBar ? 'true': null"
        [attr.role]="openSideBar ? 'dialog': null">

        <div class="offcanvas-header border-bottom border-white border-opacity-25 p-1 ps-3 py-md-2 ps-md-0">

          <div class="logo d-flex d-md-none justify-content-center align-items-center bg-white">
            <a href="">
              <img width="80" height="75" ngSrc="assets/images/logo.png" priority>
            </a>
          </div>

          <h6 class="text-start sidebar-title flex-grow-1 p-0 pt-2 pt-md-0 ps-3 m-0 ">
            {{config.APP_NAME}}
          </h6>

          <button ng-mat-icon-button type="button" (click)="toggleSideBar()" class="d-md-none m-0"
            data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar-example">
            <i [ccc-icon]="'close'" class="text-white"></i>
          </button>
        </div>

        <div class="offcanvas-body d-flex flex-column px-1">
          <ul class="sidebar-nav flex-grow-1 mx-3">
            <li>
              <h6 class="sidebar-header">Getting started</h6>
            </li>
            <li>
              <hr class="sidebar-divider">
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page">Installation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CLI commands</a>
            </li>
            <li class="mt-3">
              <h6 class="sidebar-header">Components</h6>
            </li>
            <li>
              <hr class="sidebar-divider">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">File explorer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Spreadsheet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Maps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Messenger</a>
            </li>
          </ul>

          <div class="text-end">
            <button ng-mat-icon-button type="button" (click)="toggleSideBar()" class="d-md-none m-0"
              data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar-example">
              <i [ccc-icon]="'arrow-left'" class="text-white"></i>
            </button>
          </div>
        </div>
      </nav>
      @if (openSideBar) {
      <div (click)="toggleSideBar()" class="offcanvas-backdrop fade show"></div>
      }
    </div>
  </div>
</div>
