<div class="root" *transloco="let t">

  <div class="card-body">
    <div class="card vh-100 rounded-0 bg-body overflow-hidden ps-md-sbwidth">

      <!--!Content -->
      <div class="d-flex flex-column w-100 h-100 position-relative bg-light">

        <!-- *Header-->
        <nav class="navbar p-0 sticky-top border-bottom bg-body-secondary user-select-none">
          <div class="container pe-md-3 justify-content-between">

            <button type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-example" (click)="toggleSideBar()"
              class="btn btn-secondary icon-button d-md-none d-flex align-items-center flex-nowrap position-relative">
              <i class="flex-shrink-0 icon-button" [ccc-icon]="'menu'"></i>
            </button>

            <button type="button" (click)="goBack()"
              class="btn btn-secondary d-none d-md-flex align-items-center flex-nowrap text-start position-relative">
              <i class="flex-shrink-0 fw-bolder" [ccc-icon]="'arrow-left'"></i>
            </button>

            <button type="button"
              class="btn btn-secondary icon-button d-flex align-items-center flex-nowrap text-start position-relative">
              <i class="flex-shrink-0 icon-button" [ccc-icon]="'logout'"></i>
              {{t(languageResourceKey.LOGOUT)}}
            </button>
          </div>
        </nav>

        <!-- *Body-->
        <div class="container">
          <router-outlet></router-outlet>
        </div>

      </div>
      <!--!End Content -->

      <!-- !Side bar -->
      <nav class="sidebar user-select-none text-light vh-100 offcanvas-start offcanvas-md position-absolute"
        [class.show]="openSideBar" tabindex="-1" id="sidebar" data-bs-scroll="true"
        [attr.aria-modal]="openSideBar ? 'true': null" [attr.role]="openSideBar ? 'dialog': null">

        <!-- *Side bar Header -->
        <div class="offcanvas-header border-bottom border-white border-opacity-25 p-1 ps-3 ps-md-0 py-md-2">

          <div class="logo d-flex d-md-none justify-content-center align-items-center bg-white">
            <a href="">
              <img width="80" height="75" ngSrc="assets/images/logo.png" priority>
            </a>
          </div>

          <h6 class="text-start sidebar-title text-white flex-grow-1 p-0 pt-2 pt-md-0 ps-3 m-0">
            {{config.APP_NAME}}
          </h6>

          <button ng-mat-icon-button type="button" (click)="toggleSideBar()" class="d-md-none m-0"
            data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar">
            <i [ccc-icon]="'close'" class="text-white"></i>
          </button>
        </div>

        <!-- *Side bar body -->
        <div class="offcanvas-body d-flex flex-column px-1 align-items-stretch justify-content-between">
          <div class="pt-2">
            <div class="d-flex gap-2 align-items-center ps-2 collapse-btn">
              <i [ccc-icon]="'book-edit'" class="text-white"></i>
              <button ng-mat-button (click)="openLyrics = !openLyrics" class="text-white" data-bs-toggle="collapse"
                data-bs-target="#lyrics-collapse" [class.collapsed]="openLyrics" [attr.aria-expanded]="openLyrics"
                aria-expanded="true" aria-controls="collapse">
                {{t(rootLanguageResourceKey.LYRICS)}}
                <i [ccc-icon]="openLyrics ? 'chevron-down': 'chevron-right'" class="text-white"></i>
              </button>
            </div>
            <div class="collapse" [class.show]="openLyrics" id="lyrics-collapse">
              <div class="px-4 mt-2">
                <div class="list-group border-0" id="list-tab" role="tablist">
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.LYRICS, route.YORUBA]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.YORUBA)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.LYRICS, route.ENGLISH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.ENGLISH)}}
                  </a>
                  <a [routerLinkActive]="'active-link'" [routerLink]="[route.LYRICS, route.FRENCH]"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.FRENCH)}}
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center ps-2 mt-2 collapse-btn">
              <i [ccc-icon]="'bible'" class="text-white"></i>
              <button ng-mat-button (click)="openBibleReference = !openBibleReference" class="text-white"
                data-bs-toggle="collapse" data-bs-target="#lyrics-collapse" [class.collapsed]="openBibleReference"
                [attr.aria-expanded]="openBibleReference" aria-expanded="true" aria-controls="collapse-button">
                {{t(rootLanguageResourceKey.BIBLE_REFERENCES)}}
                <i [ccc-icon]="openBibleReference ? 'chevron-down': 'chevron-right'" class="text-white"></i>
              </button>
            </div>
            <div class="collapse" [class.show]="openBibleReference" id="lyrics-collapse">
              <div class="px-4 mt-2">
                <div class="list-group border-0" id="list-tab" role="tablist">
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.BIBLE_REFERENCES, route.YORUBA]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.YORUBA)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.BIBLE_REFERENCES, route.ENGLISH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.ENGLISH)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.BIBLE_REFERENCES, route.FRENCH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.FRENCH)}}
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center ps-2 mt-2 collapse-btn">
              <i [ccc-icon]="'music-clef'" class="text-white"></i>
              <button ng-mat-button (click)="openTonicSolfa = !openTonicSolfa" class="text-white"
                data-bs-toggle="collapse" data-bs-target="#lyrics-collapse" [class.collapsed]="openTonicSolfa"
                [attr.aria-expanded]="openTonicSolfa" aria-expanded="true" aria-controls="collapse-button">
                {{t(rootLanguageResourceKey.TONIC_SOLFA)}}
                <i [ccc-icon]="openTonicSolfa ? 'chevron-down': 'chevron-right'" class="text-white"></i>
              </button>
            </div>
            <div class="collapse" [class.show]="openTonicSolfa" id="lyrics-collapse">
              <div class="px-4 mt-2">
                <div class="list-group border-0" id="list-tab" role="tablist">
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.TONIC_SOLFA, route.YORUBA]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.YORUBA)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.TONIC_SOLFA, route.ENGLISH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.ENGLISH)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.TONIC_SOLFA, route.FRENCH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.FRENCH)}}
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center ps-2 mt-2 collapse-btn">
              <i [ccc-icon]="'audio-hymns'" class="text-white"></i>
              <button ng-mat-button (click)="openAudio = !openAudio" class="text-white" data-bs-toggle="collapse"
                data-bs-target="#lyrics-collapse" [class.collapsed]="openAudio" [attr.aria-expanded]="openAudio"
                aria-expanded="true" aria-controls="collapse-button">
                {{t(rootLanguageResourceKey.AUDIO_HYMNS)}}
                <i [ccc-icon]="openAudio ? 'chevron-down': 'chevron-right'" class="text-white"></i>
              </button>
            </div>
            <div class="collapse" [class.show]="openAudio" id="lyrics-collapse">
              <div class="px-4 mt-2">
                <div class="list-group border-0" id="list-tab" role="tablist">
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.AUDIO_HYMNS, route.YORUBA]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.YORUBA)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.AUDIO_HYMNS, route.ENGLISH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.ENGLISH)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.AUDIO_HYMNS, route.FRENCH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.FRENCH)}}
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center ps-2 mt-2 collapse-btn">
              <i [ccc-icon]="'audio'" class="text-white"></i>
              <button ng-mat-button (click)="openAudioSpace = !openAudioSpace" class="text-white"
                data-bs-toggle="collapse" data-bs-target="#lyrics-collapse" [class.collapsed]="openAudioSpace"
                [attr.aria-expanded]="openAudioSpace" aria-expanded="true" aria-controls="collapse-button">
                {{t(rootLanguageResourceKey.AUDIO_SPACE)}}
                <i [ccc-icon]="openAudioSpace ? 'chevron-down': 'chevron-right'" class="text-white"></i>
              </button>
            </div>
            <div class="collapse" [class.show]="openAudioSpace" id="lyrics-collapse">
              <div class="px-4 mt-2">
                <div class="list-group border-0" id="list-tab" role="tablist">
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.AUDIO_SPACE, route.YORUBA]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.YORUBA)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.AUDIO_SPACE, route.ENGLISH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.ENGLISH)}}
                  </a>
                  <a [routerLinkActive]="'active-link'"
                    class="list-group-item border-0 list-group-item-action d-flex align-items-center"
                    data-bs-toggle="list" [routerLink]="[route.AUDIO_SPACE, route.FRENCH]" role="tab">
                    <i class="space"></i>
                    {{t(rootLanguageResourceKey.FRENCH)}}
                  </a>
                </div>
              </div>
            </div>

            <div class="d-flex gap-2 align-items-center ps-2 mt-2 collapse-btn">
              <i [ccc-icon]="'all-hymns'" class="text-white"></i>
              <button ng-mat-button class="text-white">
                {{t(rootLanguageResourceKey.ALL_HYMNS)}}
                <i [ccc-icon]="'chevron-right'" class="text-white"></i>
              </button>
            </div>

          </div>

          <div class="text-end">
            <button ng-mat-icon-button type="button" (click)="toggleSideBar()" class="d-md-none m-0"
              data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar">
              <i [ccc-icon]="'arrow-left'" class="text-white"></i>
            </button>
          </div>
        </div>
      </nav>
      <!-- !End Side bar -->

      @if (openSideBar) {
      <div (click)="toggleSideBar()" class="offcanvas-backdrop fade show"></div>
      }
    </div>
  </div>
</div>
