@use 'gerillass';
@use 'colors';
@forward 'indeterminate-progress-bar';

.child-routes {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.root {
  z-index: 10;
  position: relative;
}
.navbar {
  min-height: 2.9rem;
}
.icon-button {
  font-size: 0.8rem;
  font-weight: 600;
}
i.icon-button {
  font-size: 1rem;
}

.logo {
  border-radius: 14.666px;
  width: 37.98px;
  height: 37.98px;
  img {
    width: 28px;
    height: auto;
  }
}

.collapse-btn {
  i {
    font-size: 1.1rem;
  }
  button {
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.list-group-item {
  color: colors.$neutral-200;
}

.active-link {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0;
}

.space {
  width: 30px;
}

.active-link::before {
  content: '';
  position: absolute;
  left: 1.2rem;
  width: 0.2rem;
  height: 0.9rem;
  background-color: white;
}
.breadcrumb-item {
  font-size: 1rem;
}
