@font-face {
  font-family: 'ccc-admin-icon';
  src: url('../assets/fonts/ccc-admin-icon.ttf?nzc7ks') format('truetype'),
    url('../assets/fonts/ccc-admin-icon.woff?nzc7ks') format('woff'),
    url('../assets/fonts/ccc-admin-icon.svg?nzc7ks#ccc-admin-icon')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='ccci-'],
[class*=' ccci-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ccc-admin-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ccci-e-circle-outline:before {
  content: "\e91b";
}
.ccci-file-document:before {
  content: "\e900";
}
.ccci-f-circle:before {
  content: "\e901";
}
.ccci-all-hymns:before {
  content: "\e902";
}
.ccci-arrow-left:before {
  content: "\e903";
}
.ccci-arrow-right:before {
  content: "\e904";
}
.ccci-audio-hymns:before {
  content: "\e905";
}
.ccci-audio:before {
  content: "\e906";
}
.ccci-bible:before {
  content: "\e907";
}
.ccci-book-edit:before {
  content: "\e908";
}
.ccci-check-circle:before {
  content: "\e909";
}
.ccci-chevron-down:before {
  content: "\e90a";
}
.ccci-chevron-right:before {
  content: "\e90b";
}
.ccci-chevron-up:before {
  content: "\e90c";
}
.ccci-close:before {
  content: "\e90d";
}
.ccci-delete:before {
  content: "\e90e";
}
.ccci-e-circle:before {
  content: "\e90f";
}
.ccci-logout:before {
  content: "\e910";
}
.ccci-menu:before {
  content: "\e911";
}
.ccci-music-clef:before {
  content: "\e912";
}
.ccci-pencil-outline:before {
  content: "\e913";
}
.ccci-plus-circle:before {
  content: "\e914";
}
.ccci-publish:before {
  content: "\e915";
}
.ccci-sort-asc:before {
  content: "\e916";
}
.ccci-sort-desc:before {
  content: "\e917";
}
.ccci-sort:before {
  content: "\e918";
}
.ccci-upload-outline:before {
  content: "\e919";
}
.ccci-y-circle:before {
  content: "\e91a";
}
