
$primary-font: 'Nunito Sans';

//Material design component
html {
  --mdc-typography-font-family: $primary-font, sans-serif;
  --mdc-typography-button-font-weight: 700;
  --mdc-typography-button-text-transform: none;
}

body {
  font-family: $primary-font, sans-serif;
}
