.placeholder.circle {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: inline-block;
}
.placeholder.circle-small {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  display: inline-block;
}
.placeholder.rectangle {
  height: 1.5rem;
  width: 5rem;
  display: inline-block;
}

.placeholder.pill {
  height: 0.7rem;
  border-radius: 10px 10px 10px 10px;
  width: 2.4rem;
  display: inline-block;
}

.placeholder.file {
  height: 2.2rem;
  border-radius: 0 5px 0 0;
  width: 1.8rem;
  display: inline-block;
}

.placeholder.audio-rectangle {
  height: 3.5rem;
  width: 15rem;
  border-radius: 3rem;
  display: inline-block;
}
