<div *transloco="let t" class="d-flex flex-column justify-content-center align-items-center">

  <div class="table-container">
    <input type="text" (keyup)="onFilterTextChanged($event)" class="form-control w-50"
      [placeholder]="t(languageResourceKey.FILTER_HYMN_MSG)">

    <div class="card w-100">
      <div class="card-header py-0 pe-1 bg-body-secondary d-flex justify-content-between align-items-center">

        <span class="title mt-1">{{t(titleKey)}}</span>

        <div class="d-flex align-items-center">
          <button [disabled]="lyricsTable.getCurrentPageIndex()===0" type="button" ng-mat-tooltip id="previous-page"
            (click)="lyricsTable.previousPage()"
            class="btn btn-secondary mt-1 d-flex align-items-center flex-nowrap text-start position-relative">
            <i class="flex-shrink-0 fw-bolder" [ccc-icon]="'arrow-left'"></i>
          </button>

          <div ng-mat-tooltip id="previous-page">{{t(dashboardLanguageResourceKey.PREVIOUS_PAGE)}}</div>

          <button [disabled]="lyricsTable.endOfPage()" type="button" ng-mat-tooltip (click)="lyricsTable.nextPage()"
            id="next-page"
            class="btn btn-secondary mt-1 mx-2 me-3 d-flex align-items-center flex-nowrap text-start position-relative">
            <i class="flex-shrink-0 fw-bolder" [ccc-icon]="'arrow-right'"></i>
          </button>

          <div ng-mat-tooltip id="next-page">{{t(dashboardLanguageResourceKey.NEXT_PAGE)}}</div>

          <button [ccc-icon]="sortOrderIsAscending? 'sort-asc': 'sort-desc'"
            (click)="lyricsTable.sortDataBy('no', sortOrderIsAscending ? 'desc' : 'asc')"
            (click)="sortOrderIsAscending = !sortOrderIsAscending" ng-mat-icon-button ng-mat-tooltip id="sort"
            class="mx-2">
          </button>
          <div ng-mat-tooltip id="sort">{{t(dashboardLanguageResourceKey.SORT_MSG)}}</div>

          <button ng-mat-icon-button class="add" [ccc-icon]="'plus-circle'" ng-mat-tooltip id="add-hymn">
          </button>

          <div ng-mat-tooltip id="add-hymn">{{t(languageResourceKey.ADD_A_HYMN)}}</div>

        </div>

      </div>
      <div class="card-body overflow-x-scroll">
        <app-lyrics-table #lyricsTable='lyricsTable' [data]="data" [filterBy]="filterBy" />
        <!-- <app-lyrics-placeholder [columnNames]="columnNames"/> -->
      </div>
    </div>

  </div>


</div>
