<form class="d-flex flex-column gap-3" *transloco="let t">
  <span class="title">{{t(languageResourceKey.ADD_A_BIBLE_REFERENCE)}}
  </span>

  <div class="input-group w-100 w-md-50">
    <span class="input-group-text">Reference</span>
    <input type="text" class="form-control" [placeholder]="t(languageResourceKey.BIBLE_REFERENCE_PLACEHOLDER)">
  </div>
  <div>
    <textarea cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="7" class="form-control"
      [placeholder]="t(languageResourceKey.VERSES)"></textarea>
  </div>

  <div class="text-end">
    <button class="w-100" ng-mat-raised-button>
      {{t(rootLanguageResourceKey.SAVE)}}
    </button>
  </div>
</form>
