<form class="d-flex flex-column gap-3" *transloco="let t">

  <span class="title">{{t(languageResourceKey.UPLOAD_AUDIO_SPACE)}}
  </span>

  <div class="input-group hymn-number">
    <button type="button" class="input-group-text fw-bolder">-</button>
    <input type="number" formControlName="no" class="form-control" [placeholder]="t(dashboardLanguageResourceKey.HYMN_NO)">
    <button type="button" class="input-group-text fw-bolder">+</button>
  </div>

  <div class="mb-2">
    <input formControlName="audio" class="form-control w-100" type="file">
  </div>

  <div class="text-end">
    <button class="w-100" ng-mat-raised-button>
      {{t(dashboardLanguageResourceKey.UPLOAD)}}
    </button>
  </div>

</form>
