<form class="d-flex flex-column gap-3" *transloco="let t" (ngSubmit)="onSubmit()">

  <span class="title text-capitalize">{{t(dashboardLanguageResourceKey.ADD_HYMN)}}
  </span>

  <div class="input-group hymn-number">
    <input type="number" class="form-control" formControlName="no" [class.is-invalid]="hymnNoIsInvalid()"
      [placeholder]="t(dashboardLanguageResourceKey.HYMN_NO)">
    @if (hymnNoIsInvalid()) {
    <div class="invalid-feedback">
      {{t(dashboardLanguageResourceKey.VALID_HYMN_NO_MSG)}}
    </div>
    }
  </div>

  <div>
    <textarea [class.is-invalid]="lyricsIsInvalid()" formControlName="lyrics" cdkTextareaAutosize cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="7" class="form-control" [placeholder]="t(rootLanguageResourceKey.LYRICS)"></textarea>

    @if (lyricsIsInvalid()) {
    <div class="invalid-feedback">
      {{t(languageResourceKey.REQUIRED_LYRICS_MSG)}}
    </div>
    }

  </div>

  <div class="text-end">
    <button class="w-100" ng-mat-raised-button>
      {{t(rootLanguageResourceKey.SAVE)}}
    </button>
  </div>

</form>
