@use 'colors';
@use 'gerillass';

.card {
  width: 100%;
  margin-top: 3rem;
  .title {
    font-weight: 600;
    font-size: 1.2rem;
  }
  @include gerillass.breakpoint(min, xlarge) {
    width: 50rem;
  }
}
.pagination {
  .navigation-icon {
    font-weight: 700;
  }
  .page-link {
    font-weight: 600;
  }
  .navigation-link {
    padding-top: 3px;
    padding-bottom: 0.5px;
    @include gerillass.breakpoint(min, large) {
      padding-top: 7px;
      padding-bottom: 1px;
    }
  }
}
.add {
  color: colors.$error-red-500;
}
