<div class="d-flex flex-column justify-content-center align-items-center">

  <div class="card">
    <div class="card-header py-0 pe-1 card-header-blue d-flex justify-content-between align-items-center"> <span
        class="title">Yorùbá
        Lyrics</span>
      <button ng-mat-icon-button class="add">
        <i [ccc-icon]="'plus-circle'"></i>
      </button>
    </div>
    <div class="card-body overflow-x-scroll">
      Some quick example content for the body of the card.
    </div>
    <div class="card-footer d-flex justify-content-end">
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm pb-0 mb-0">
          <li class="page-item disabled">
            <a class="page-link navigation-link" aria-label="Previous">
              <span aria-hidden="true">
                <i [ccc-icon]="'arrow-left'" class="navigation-icon"></i>
              </span>
            </a>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item"><a class="page-link" href="#">7</a></li>
          <li class="page-item"><a class="page-link" href="#">8</a></li>
          <li class="page-item"><a class="page-link" href="#">9</a></li>
          <li class="page-item"><a class="page-link" href="#">10</a></li>
          <li class="page-item">
            <a class="page-link navigation-link" href="#" aria-label="Next">
              <span aria-hidden="true">
                <i [ccc-icon]="'arrow-right'" class="navigation-icon"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
