@use '../../scss/mobile-menu';
@use '../../scss/bugger-button';
@use 'gerillass';

.opened {
  .line {
    stroke: black;
  }
}
.menu-btn {
  margin-top: .5rem;
  margin-right: 1rem;
  @include gerillass.breakpoint(min, small) {
    display: none;
  }
}
