@use 'gerillass';
@forward '../../scss/phone';

.logo {
  border-radius: 1.7rem;
  width: 4rem;
  height: 4rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  img {
    width: 3rem;
    height: auto;
  }
  @include gerillass.breakpoint(min, small) {
    display: none !important;
  }
}

.download-button {
  flex-direction: column;
  margin-top: 2rem;
  svg {
    width: 16.821rem;
    height: 5.121rem;
    fill: #00211d;
    stroke: #00211d;
  }
  @include gerillass.breakpoint(min, small) {
    flex-direction: row;
    svg {
      width: 11.5rem;
      height: 3.5rem;
    }
  }
}

.landing-page,
.landing-page-content,
.header {
  left: 0;
  right: 0;
  top: 0;
}
.header {
  z-index: 3;
}

.main {
  height: 84rem;
  @include gerillass.breakpoint(min, small) {
    height: 48rem !important;
  }
}

.landing-page-content {
  z-index: 2;
  position: static;
  @include gerillass.breakpoint(min, small) {
    position: absolute;
  }
}

.description {
  font-weight: 500;
}

.landing-page {
  z-index: -2;
  position: static;
  .left-page {
    display: none;
    width: 50%;
    @include gerillass.breakpoint(min, xlarge) {
      width: 60%;
    }
  }
  @include gerillass.breakpoint(min, small) {
    position: absolute;
    flex-direction: row;
    .left-page {
      display: block;
    }
  }
}

@include gerillass.breakpoint(min, small) {
  .title-container {
    margin-top: 14rem !important;
    width: 50% !important;
  }
}

.title-container {
  padding-left: 0.8rem;
  width: 100%;
  margin-top: 2rem;
  h1 {
    font-weight: 500;
  }
}

.right-page {
  background: linear-gradient(300deg, #33f583, #333dff, #33f583);
  background-size: 180% 180%;
  animation: gradient-animation 4s ease infinite;
  @include gerillass.breakpoint(min, small) {
    margin: 4rem !important;
    border-radius: 0.5rem;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
