<app-navigation>
  <main class="main">

    <!-- <header></header> -->
    <!-- Navigation and landing page -->
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque harum incidunt facere necessitatibus repellendus!
    Eius facere dolor, placeat deserunt similique necessitatibus accusantium. Voluptatum fugit tenetur quibusdam, fuga
    laborum consequuntur placeat.

  </main>

  <section class="tech-stack" id="tech-stack">

    <!-- <header>Each section have it own header tag where h2 and possibly h3 is</header> -->

  </section>

</app-navigation>